@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  #homebg{
    background-image: url('./assest/bg_eleve.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #stagairebgform{
    background-image: url('./assest/pie-miniature_6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #communebgform{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('./assest/LARACHE_place-de-la-liberation.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}